@model Insight.Data.Lecture
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Create", "Lecture", FormMethod.Post, new { @role = "form", @name = "createLecture" }))
{
    @Html.AntiForgeryToken()
    <br/>
    <paper-material elevation="3" class="smooth container">
        <div class="row" style="text-align:center">
            <h2>Create New Venue</h2>
            <hr />
        </div>
        <div class="row container">
            @if(Model.ModuleCode != null){
                <paper-input name="ModuleCode" id="ModuleCode" label="Module Code" value="@Model.ModuleCode"></paper-input> @Html.ValidationMessageFor(model => model.ModuleCode, "", new { @class = "text-danger" })
            }else{
                <paper-input name="ModuleCode" id="ModuleCode" label="Module Code"></paper-input> @Html.ValidationMessageFor(model => model.ModuleCode, "", new { @class = "text-danger" })
            }
            <br />
            @if(Model.VenueCode != null){
                <paper-input name="VenueCode" id="VenueCode" label="Venue Code" value="@Model.VenueCode"></paper-input> @Html.ValidationMessageFor(model => model.VenueCode, "", new { @class = "text-danger" })
            }else{
                <paper-input name="VenueCode" id="VenueCode" label="Venue Code"></paper-input> @Html.ValidationMessageFor(model => model.VenueCode, "", new { @class = "text-danger" })
            }
            <br />
            @if(Model.StaffNumber != null){
                <paper-input name="StaffNumber" id="StaffNumber" label="Staff Number" value="@Model.StaffNumber"></paper-input> @Html.ValidationMessageFor(model => model.StaffNumber, "", new { @class = "text-danger" })
            }else{
                <paper-input name="StaffNumber" id="StaffNumber" label="Staff Number"></paper-input> @Html.ValidationMessageFor(model => model.StaffNumber, "", new { @class = "text-danger" })
            }
            <br />
            @if(Model.TimeOfDay != null){
                <paper-input name="TimeOfDay" id="TimeOfDay" label="Time Of Day" value="@Model.TimeOfDay"></paper-input> @Html.ValidationMessageFor(model => model.TimeOfDay, "", new { @class = "text-danger" })
            }else{
                <paper-input name="TimeOfDay" id="TimeOfDay" label="Time Of Day"></paper-input> @Html.ValidationMessageFor(model => model.TimeOfDay, "", new { @class = "text-danger" })
            }
        </div>
        <br />
        <div class="row">
            <hr />
            <div class="container">
                <paper-button raised class="accept-button pull-left" onclick="history.go(-1);">Back</paper-button>
                <paper-button raised class="accept-button pull-right" onclick="document.createLecture.Submit();">Create</paper-button>
            </div>
        </div>
        <br />
    </paper-material>
}

