@model Insight.Data.Lecture
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Create", "Lecture", FormMethod.Post, new { @role = "form", @name = "createLecture" }))
{
    @Html.AntiForgeryToken()
    <br/>
    <paper-material elevation="3" class="smooth container">
        <div class="row" style="text-align:center">
            <h2>Schedule New Lecture</h2>
            <hr />
        </div>
        <div class="row container">
            @if(Model.ModuleCode != null){
                <paper-input name="ModuleCode" id="ModuleCode" label="Module Code" value="@Model.ModuleCode"></paper-input> @Html.ValidationMessageFor(model => model.ModuleCode, "", new { @class = "text-danger" })
            }else{
                <paper-input name="ModuleCode" id="ModuleCode" label="Module Code"></paper-input> @Html.ValidationMessageFor(model => model.ModuleCode, "", new { @class = "text-danger" })
            }
            <br />
            @if(Model.VenueCode != null){
                <paper-input name="VenueCode" id="VenueCode" label="Venue Code" value="@Model.VenueCode"></paper-input> @Html.ValidationMessageFor(model => model.VenueCode, "", new { @class = "text-danger" })
            }else{
                <paper-input name="VenueCode" id="VenueCode" label="Venue Code"></paper-input> @Html.ValidationMessageFor(model => model.VenueCode, "", new { @class = "text-danger" })
            }
            <br />
            @if(Model.StaffNumber != null){
                <paper-input name="StaffNumber" id="StaffNumber" label="Staff Number" value="@Model.StaffNumber"></paper-input> @Html.ValidationMessageFor(model => model.StaffNumber, "", new { @class = "text-danger" })
            }else{
                <paper-input name="StaffNumber" id="StaffNumber" label="Staff Number"></paper-input> @Html.ValidationMessageFor(model => model.StaffNumber, "", new { @class = "text-danger" })
            }
        </div>
        <br />
        <div class="row">
            <div class="container">
                <template is="dom-bind" id="scope">
                    <section>
                        <paper-button class="btn" on-tap="showDialog" raised>Pick Time</paper-button>
                        <paper-dialog id="dialog" class="paper-time-picker-dialog" modal>
                            <paper-time-picker id="picker" time=""></paper-time-picker>
                            <div class="buttons">
                                <paper-button dialog-dismiss>CANCEL</paper-button>
                                <paper-button dialog-confirm on-tap="timeSelected">OK</paper-button>
                            </div>
                        </paper-dialog>

                        <label style="font-size:19px" id="timeHold" name="timeHold"></label>
                    </section>
                </template>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <br />
        <div class="row">
            <hr />
            <div class="container">
                <paper-button raised class="accept-button pull-left" onclick="history.go(-1);">Back</paper-button>
                <paper-button raised class="accept-button pull-right" onclick="document.createLecture.Submit();">Create</paper-button>
            </div>
        </div>
        <br />
    </paper-material>
    
    
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var scope = document.querySelector('#scope');
        var hc = scope.$.picker.time;
      scope.timeSelected = function() {
          scope.time = scope.$.picker.time;
          hc = scope.$.picker.time;
          document.getElementById('timeHold').innerHTML = hc;
      };
      scope.showDialog = function() {
        this.$.dialog.toggle();
      };
      document.getElementById('timeHold').innerHTML = hc;
    });
  </script>
}

